.bg-light-blue {
  background-color: $blue-light;
}
.young {
  font-family: $young;
}
.text-centered {
  text-align: center;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}

section {
  position: relative;
}
a.anchor-tag {
  position: absolute;
  display: block;
  top: -4rem;
}


.content {
  &.header-padding {
  margin-top: $space6!important;
  }
  &.archived.header-padding {
    margin-top: $space3!important;
  }
}

.author {
  .content {
    &.header-padding {
    margin-top: $space5!important;
    }
  }
}



.alert-success {
  background-color: transparent!important;
  padding: 0!important;
  color: $blue-dark!important;
  font-size: $font2;
  font-family: $young;
}

.page-form-section {
  padding: $space1 0;
  @include for-size(sm) {
    padding: $space2 0 $space2;
  }
  .page-form {
    background-color: $blue-light;
    padding: $space1;
    text-align: center;
    .row {
      margin: auto;
        .form-group {
          margin-bottom: 0px!important;
        }
    }
    h4 {
      margin-top: 0;
      margin-bottom: $space-3;
      font-size: $font2;
    }
    input {
      display: block;
      margin: 0 auto;
      margin-top: $space-1;
      padding: $space-4 $space-2;
      text-align: center;
      width: $space7;
      border: none;
      border-bottom: 1px solid black;
      font-size: $font4;
      font-weight: 200;
      background-color: transparent;
      height: auto;
      box-shadow: none;
      @include for-size(sm) {
        width: $space8;
      }
      &:focus {
        border-color: black;
      }
    }
    input[type="submit"] {
      display: inline-block;
      padding: $space-5 $space3;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
      color: $blue-dark;
      border: 1px solid $blue-dark;
      margin-top: $space-1;
      appearance: none;
      font-size: $font-1;
      background-color: transparent;
      width: auto;
    }
  }
  &.blue {
    background-color: $blue-light;
    padding: 0 0 $space2 0;
    @include for-size(sm) {
      padding: $space2 0 $space2 0;
    }
    .page-form {
      background-color: white;
    }
  }
}

a.cta-button {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: .325rem 2rem;
  font-size: $font-1;
  display: inline-block;
  &.long {
    padding: .325rem 5rem;
  }
  &.pink {
    color: $pink;
    border: 1px solid $pink;
  }
  &.dark-blue {
    color: $blue-dark;
    border: 1px solid $blue-dark;
  }
  &.white {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  &.dark-blue-bg {
    background-color: $blue-dark;
    color: white;
    font-weight: 400;
    border-radius: 4px;
  }
  &.website {
    //width: auto;
    //padding: 0px;
    //border: 0px;
  }
}

benchtag {
  background-color: $blue-dark;
  color: white;
  text-transform: uppercase;
  padding: .25rem;
  border-radius: 4px;
  width: 6rem;
  display: inline-block;
  text-align: center;
  font-size: $font-2;
  &.project-type {
    background-color: $aqua;
    color: $blue-dark;
  }
}

.site-header {
  transition: background-color 1s ease-in-out;
  -webkit-transition: background-color 1s ease-in-out;
  position: fixed;
  width:100vw;
  padding: $space1;
  z-index: 3;
  top: 0px;
  &.white {
    background-color: #fff;
    border-bottom: 1px solid $blue-mid;
    padding: $space-1 $space1;
  }
  .site-title {
    font-family: $young;
    img {
      height: $space-1;
      width: auto;
    }
  }
  &.white {
    .site-title {
      img {
        height: $space-2;
      }
    }
  }
  .linked-in {
    float: right;
    img {
      height: $space-3;
      width: auto;
    }
  }
}

.navigation-container {
  padding: 0 $space1;
  position: fixed;
  z-index: 4;
}

#site-navigation {
  display: none;
  width: 100vh;
  justify-content: center;
  font-size: $font1;
  transform-origin: left top;
  transform:rotate(-90deg) translateX(-100%);
  position: sticky;
  flex-direction: row-reverse;
  top: 0px;
  left: $space-1;
  .archived & {
    display: none;
  }
  @include for-size(md) {
    display: inline-flex;
  }
  a {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    color: $black;
    text-transform: lowercase;
    margin-left: 3.5em;
    position: relative;
    &:not(:first-of-type)::after {
      content: '';
      width: 1.5em;
      height: 1px;
      background-color: $black;
      position: absolute;
      left: calc(100% + 1em);
      top: 50%;
    }
  }
  &.light a {
    color: #ffffff;
    &::after {
      background-color: #ffffff;
    }
  }
}

#homepage-hero {
  height: $space9;
  background-color: $aqua;
  padding: $space3 0px;
  width: 100%;
  align-items: center;
  .content {
    display: flex;
    align-items: center;
    height: 100%;
    p {
      font-size: $font2;
      font-weight: 400;
    }
  }
  .cta-button {
    display: none;
  }
}

.homepage-section {
  h2 {
    color: transparent;
    -webkit-text-stroke: 1px #01063a;
  }
  h3 {
    font-family: $young;
  }
}

.how_we_work-wrapper {
  padding: $space-1 0;
  @include for-size(sm) {
    padding: $space3 0;
  }
  .bench-steps {
    .step {
      position: relative;
      &:not(:last-of-type) {
        margin-bottom: $space4;
      }
      .step-num {
        font-size: $font6;
        position: absolute;
        top: 0;
        right: 0;
        font-family: $neuz;
        font-weight: 700;
      }
      h3 {
        font-family: $young;
        @include for-size(lg-down) {
          margin-bottom: 3rem;
        }
      }
      h6 {
        text-transform: uppercase;
      }
      &:nth-child(2n +1) {
        flex-direction: row-reverse;
      }
      &:nth-child(2n + 2) {
        .step-num {
          right: auto;
          left: 0;
          @include for-size(lg-down) {
            right: 0;
            left: auto;
          }
        }
      }
    }
  }
}

.why_the_bench-wrapper {
  padding: $space1 0 $space3;
  background-color: $blue-light;
  h2 {
    font-size: 3em;
    -webkit-text-stroke: 1px #01063a;
  }
  p {
    margin-bottom: $space-2;
    @include for-size(sm) {
        margin-bottom: auto;
    }
  }
  .caldera-grid {
    .form-control {
      border: 0px;
      background-color: transparent;
      box-shadow: none;
      border-bottom: 1px solid $blue-dark;
      margin-top: $space1;
      color: $blue-dark;
      padding-left: 0px;
    }
    .btn {
      text-transform: uppercase;
      border: 1px solid $blue-dark;
      color: $blue-dark;
      font-size: calc(.707rem * 1.2);
      font-weight: 600;
      padding: .75em 4em .5em;
      border-radius: 0;
      background-color: transparent;
      margin-top: 2em;
    }
  }
}

.the_opportunity_briefs-wrapper {
  padding: $space1 0;
  @include for-size(sm) {
    padding: $space5 0;
  }
  .col-7 {
    position: relative;
  }
  .opportunities ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      font-size: $font2;
      font-weight: 700;
      cursor: pointer;
      div {
        padding-right: $space3;
        color: $black;
        display: block;
        text-decoration: none;
        position: relative;
        opacity: .4;
        transition: opacity .4s linear;
        @include for-size(sm) {
          padding-right: $space1;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7.5px 5.625px 0 5.625px;
          border-color: $blue-dark transparent transparent transparent;
          opacity: 0;
          @include for-size(sm) {
            border-width: 7.5px 0 7.5px 10px;
            border-color: transparent transparent transparent $blue-dark;
          }
        }
        span {
          border-bottom: 2px solid $blue-mid;
          padding: $space-2 0;
          display: block;
        }
      }
      &.slick-active {
        div {
          opacity: 1;
          &::after {
            opacity: 1;
          }
        }
      }
      &:hover {
        div {
          opacity: 1;
        }
      }
    }
  }
  .opportunity-slide-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    //top: $space1;
    left: 0;
    @include for-size(sm) {
      top: -10%;
    }
    .st0 {
      transition: .4s fill linear;
    }
  }
  #opportunities-slider, .slick-list, .slick-track {
    height: 100%;
  }
  .slick-slide {
    >div {
      height: 100%;
    }
    .opportunity-slide {
      height: $space8;
      display: flex!important;
      align-items: center;
      .slide-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        .image-container {
          margin-top: $space1;
          margin-bottom: $space1;
          flex-grow: 1;
          position: relative;
          display: flex;
          .image {
            display: flex;
            flex: 1;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
            position: absolute;
            img {
              max-height: 90%;
              max-width: 100%;
              margin: auto;
              width: auto;
              height: auto;
            }
          }
        }
        .opportunity-slide-desc {
          p:last-of-type {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

// Single opportunity

.archived svg {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: $space8;
  max-width:90vw;
  height: auto;
  z-index: 1;
}

#opportunity-header {
  padding: $space3 $space1 $space2 0;
  position: relative;
  @include for-size(md) {
    padding: $space3 0 $space2 0;
  }
  #share-opportunity-container {
    position: absolute;
    top: calc(-1 * #{$space6});
    transform: translateY(50%);
    right: 0;
    height: 7em;
    display: flex;
    align-items: center;
    @include for-size(md) {
      //top: -8em;
    }
    #share-opportunity {
      width: 7em;
      height: 7em;
      position: absolute;
      right: 0%;
      top: 0;
      //transform: translateX(-50%);
      cursor: pointer;

      #share-opportunity-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid $blue-dark;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue-dark;
        font-weight: 700;
        transition: all .2s linear;
        transition-delay: .1s;
      }
    }
    #share-opportunity-links {
      display: flex;
      pointer-events: none;
      a {
        width: 4em;
        height: 4em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $blue-dark;
        border: 1px solid $blue-dark;
        border-radius: 50%;
        margin: 0 1em;
        transition-delay: 0;
        transform: scale(0);
      }
    }
    &:hover {
      #share-opportunity-content {
        transform: scale(0);
        transition-delay: 0;
      }
      #share-opportunity-links {
        a {
          transform: scale(1);
          pointer-events: auto;
          transition: all 200ms cubic-bezier(0.780, 1.650, 1.000, 1.005); /* custom */
          transition-delay: .25s;
          &:nth-child(2) {
            transition-delay: .35s;
          }
          &:nth-child(3) {
            transition-delay: .45s;
          }
        }
      }
    }
  }
  .content {
    position: relative;
  }
  .archived {
    position: relative;
    z-index: 2;
    margin-bottom: $space2;
  }
  .page-form-section{
    background-color: transparent!important;
    z-index: 2;
    position: relative;
  }
  h6 {
    text-transform: uppercase;
  }
  h1 {
    font-size: $font6;
    padding: $space-6 0;
    @include for-size(sm) {
      padding: $space-3 0;
    }
  }
  .image {
    margin-top: $space3;
    @include for-size(sm) {
      margin-top: 0px;
    }
  }
}

#co-members, #col-members {
  padding: $space1 0 $space3;
  @include for-size(sm) {
    padding: $space1 0 $space5;
  }
  .the-bench-arrows {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $space1;
    @include for-size(md) {
      display: none;
    }
    .arrow {
      margin: $space-3;
      cursor: pointer;
      &.prev-arrow {
        img {
          transform: scale(-1, 1);
        }
      }
    }
  }
  .co-members-row {
    justify-content: space-around;
  }
  .co-member {
    position: relative;
    margin-bottom: $space1;
    @include for-size(lg) {
      //margin: 0 auto;
    }
    @include for-size(lg-down) {
      width: calc((100% / 12) * 4)
    }
    @include for-size(md-down) {
      width: calc((100% / 12) * 6)
    }
    @include for-size(sm-down) {
      width: calc((100% / 12) * 12)
    }
    &.has-sub-members {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      &::after {
        content: '';
        height: $space2;
        width: 1px;
        background-color: $blue-dark;
        position: relative;
        flex: 1;
        left: 50%;
        top: calc( 100% + $space1 );
        transform: translateX(-1px);
      }
      .co-member-content {
        flex: 0;
      }
    }
    .co-member-content {
      position: relative;
      width: 80%;
      margin: 0 auto;
      margin-bottom: $space1;
      border: 1px solid $blue-dark;
      padding: $space2 $space-1 $space2;
      text-align: center;
      @include for-size(md) {
        margin: 0 auto;
      }
      @include for-size(lg-down) {
        width: 100%;
      }
      @include for-size(md-down) {
        width: 80%;
      }
      &:not(:first-child) {
        margin-top: $space5;
        &::before {
          content: '';
          width: 2px;
          height: calc(2.827rem * 1.2);
          position: absolute;
          left: 50%;
          bottom: 100%;
          background-color: #979797;
          transform: translateY(-50%);
        }
      }
      .co-member-linkedin {
        color: $blue-dark;
        position: absolute;
        top: $space-3;
        right: $space-3;
      }
      .co-member-image {
        width: $space4;
        height: $space4;
        position: relative;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: $space-2;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
        }
      }
      .co-member-title {
        font-size: $font-1;
        text-transform: uppercase;
        margin-bottom: $space-4;
        display: inline-block;
      }
      h5 {
        text-transform: uppercase;
        font-size: $font1;
        margin: 0;
      }
      .co-member-work-history {
        margin-top: $space-4;
        p {
          margin: 0 0 $space-4;
        }
        strong {
          color: #01063a;
          font-weight: 600;
          opacity: .5;
        }
      }
    }
    .co-member-info {
      position: relative;
      margin: 0 auto;
      width: $space5;
      height: $space5;
      border: 1px solid $blue-dark;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: $space4;
      &::before {
        content: '';
        width: 2px;
        height: $space2;
        position: absolute;
        left: 50%;
        bottom: 100%;
        background-color: #979797;
        transform: translateY(-50%);
      }
      .co-member-openings {
        position: absolute;
        right: -.5em;
        top: 0;
        background-color: $blue-dark;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $space1;
        height: $space1;
        border-radius: 50%;
      }
      span.co-member-designers {
        color: $blue-dark;
        font-weight: 600;
      }
    }
    .co-member-info-label {
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      color: $blue-dark;
      margin: $space-2 auto 0;
      position: relative;
      display: block;
    }
  }
  .sub-member-row {
    justify-content: center;
    @include for-size(md) {
      padding-top: $space2;
      margin-top: $space2;
      position: relative;
      &::before {
        content: '';
        height: $space2;
        width: 1px;
        background: $blue-dark;
        position: absolute;
        top: calc( #{$space2} * -1 );
        left: 50%;
        transform: translateX(-1px);
      }
    }
    .co-member {
      &::before {
        content: '';
        height: $space2;
        width: 1px;
        background: $blue-dark;
        position: absolute;
        top: calc( #{$space2} * -1 );
        left: 50%;
      }
      &::after {
        content: '';
        width: 50%;
        height: 1px;
        background: $blue-dark;
        position: absolute;
        top: calc( #{$space2} * -1 );
        right: 0;
      }
      &:nth-last-of-type(1) {
        &::after {
          right: auto;
          left: 0;
          width: 50%;
        }
        &:first-of-type {
          &::after {
            right: auto;
            left: 0;
            width: 100%;
            display: none;
          }
        }
      }
      &:nth-last-of-type(2):not(:first-of-type) {
        &::after {
          right: auto;
          left: 0;
          width: 100%;
        }
      }
      &:nth-last-of-type(0) {
        &::after {
          right: 0;
          left: 0;
          width: 50%;
        }
      }
    }
  }
}

#opportunity-organization {
  #org-tags {
    margin-bottom: $space2;
  }
  #timeline-container {
    position: relative;
    @include for-size(sm) {
      &::after {
        content: '';
        width: 25%;
        height: 15%;
        display: block;
        position: absolute;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+20,1+100 */
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        top: 25%;
        right: 0;
      }
    }
    #timeline {
      .slick-slide {
        padding: $space2 0;
      }
      .timeline-item {
        display: flex;
        flex-direction: column;
        position: relative;
        p {
          //margin: 0 0 2em;
          position: absolute;
          top: -4em;
          padding-right: $space-1;
        }
        label {
          margin: .5em 0 0;
          font-weight: 700;
          position: absolute;
        }
        span {
          border-bottom: 1px solid $blue-dark;
          position: relative;
          &::before {
            content: '';
            width: 1px;
            height: 1.5em;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $blue-dark;
          }
        }
      }
      .slick-slide {
        &:nth-child(2n + 2) {
          .timeline-item {
            margin-bottom: $space3;
            flex-direction: column-reverse;
            //margin-top: .75em;
            p {
              top: 1em;
            }
            label {
              top: -2em;
            }
            span {
              &::before {
                bottom: -1.5em;
              }
            }
          }
        }
      }
    }
    .the-bench-arrows {
      display: flex;
      position: absolute;
      top: calc(-1 * #{$space3});
      right: 0px;
      .arrow {
        margin: $space-3;
        cursor: pointer;
        &.prev-arrow {
          img {
            transform: scale(-1, 1);
          }
        }
      }
    }
  }
}

#main-collaboration-partners {
  #col-members {
    .row {
      justify-content: center;
    }
  }
}

#why-we-like {
  padding: $space3 0 $space2;
  h2 {
    text-align: center;
  }
  .row {
    justify-content: space-between;
  }
  @include for-size(lg-down) {
    .col-4 {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
    }
  }
  #company-values {
    border-right: 0px;
    display: flex;
    justify-content: space-around;
    @include for-size(lg) {
      border-right: 1px solid $border-grey;
      display: block;
    }
    @include for-size(lg-down) {
      white-space: nowrap;
      display: block;
    }
    padding: $space1 0;
    .company-value {
      text-align: center;
      @include for-size(lg-down) {
        display: inline-block;
        margin-right: $space-1;
      }
      img {
        width: 4em;
        height: auto;
      }
      p {
        text-transform: uppercase;
        font-weight: 400;
        margin: $space-4 0;
      }
    }
  }
}

#the-role {
  border-top: 1px solid $border-grey;
}

#interview-process {
  padding: $space2 0 $space3;
  background-color: $blue-light;
  border-top: 1px solid $border-grey;
  header {
    text-align: center;
    @include for-size(sm) {
    //  width: 50%;
    //  max-width: 500px;
    //  margin: 0 auto;
    }
    h2 {
      margin: 0 0 $space-2;
    }
    p {
      font-size: $font2;
      font-weight: 300;
      color: $blue-dark;
    }
  }
  .process {
    text-align: center;
    padding-bottom: $space2;
    position: relative;
    h6 {
      text-transform: uppercase;
      margin-bottom: $space-1;
    }
    .round-type {
      text-align: center;
      font-weight: 700;
      font-size: $space3;
      color: $blue-dark;
    }
    .interview-type {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      &.tool-tip {
        &::after {
          content: attr(data-tool-tip);
          position: absolute;
          width: 15em;
          height: auto;
          padding: 1rem 1rem;
          background-color: white;
          bottom: calc(100% + 2em);
          left: 0;
          transform: translate(-25%, 0);
          opacity: 0;
          pointer-events: none;
          font-weight: 300;
          text-transform: none;
          font-size: $font-1;
        }
        &::before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          transform: translateX(-50%);
          bottom: calc(100% + 2em - 11px);
          border-style: solid;
          border-width: 14px 14px 0 14px;
          border-color: #fff transparent transparent transparent;
          opacity: 0;
        }
        &:hover {
          &::after, &::before {
            opacity: 1;
          }
        }
      }
    }
    .interview-type {
      background-color: white;
      color: $blue-dark;
      font-weight: 700;
      text-transform: uppercase;
      padding: $space-4 $space-2;
      border: none;
      border-radius: $space-1;
      &:focus {
        outline: none;
      }
    }
  }
}

// Single candidate

#candidate-header {
  background-color: $blue-light;
  padding: $space2 0 $space3;
  h1 {
    font-size: $font6;
    margin-top: 0;
    margin-bottom: $space1;
  }
  h6 {
    text-transform: uppercase;
    margin-bottom: $space2;
    span {
      opacity: .5;
      margin-right: $space-4;
    }
  }
  #job-history-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $space2;
    .job-logo {
      width: 6em;
      height: auto;
      margin: 0 2em;
      img {
        filter: grayscale(100%);
      }
    }
  }
}

.the-bench-chart {
  .chart-item {
    display: block;
    align-items: center;
    margin-bottom: $space-1;
    @include for-size(sm) {
      display: flex;
    }
    .chart-label {
      width: 100%;
      margin-bottom: $space-1;
      flex-shrink: 0;
      font-size: $font2;
      font-weight: 700;
      @include for-size(sm) {
        width: 30%;
        margin-bottom: 0;
      }
    }
    .chart-bar-container {
      width: 80%;
      flex-shrink: 0;
      display: inline-block;
      padding: 0 $space3 0 0;
      @include for-size(sm) {
        width: 60%;
        display: block;
      }
      .chart-bar {
        height: $space1;
        position: relative;
        overflow: hidden;
        span {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $blue-dark;
          opacity: .5;
          transform: translateX(-100%) rotate(.01deg);
          transition: all .5s ease-in-out;
        }
      }
    }
    .chart-val {
      text-align: center;
      width: auto;
      float: right;
      display: inline-block;
      @include for-size(sm) {
        width: auto;
        display: block;
      }
      p {
        margin: 0;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: 400;
        font-size: $font-1;
        @include for-size(sm) {
          font-size: $font1;
        }
        strong {
          font-weight: 700;
          font-size: $font2;
          @include for-size(sm) {
            font-size: $font2;
          }
        }
      }
    }
    &:first-of-type {
      .chart-bar-container {
        .chart-bar {
          span {
            opacity: 1;
          }
        }
      }
    }
    &:nth-child(2) {
      .chart-bar {
        span {
          transition-delay: .3s;
        }
      }
    }
    &:nth-child(3) {
      .chart-bar {
        span {
          transition-delay: .6s;
        }
      }
    }
    &:nth-child(4) {
      .chart-bar {
        span {
          transition-delay: .9s;
        }
      }
    }
    &:nth-child(5) {
      .chart-bar {
        span {
          transition-delay: 1.2s;
        }
      }
    }
    &:nth-child(6) {
      .chart-bar {
        span {
          transition-delay: 1.5s;
        }
      }
    }
    &:nth-child(7) {
      .chart-bar {
        span {
          transition-delay: 1.8s;
        }
      }
    }
    &:nth-child(8) {
      .chart-bar {
        span {
          transition-delay: 2.1s;
        }
      }
    }
  }
  &.active {
    .chart-item {
      .chart-bar-container {
        .chart-bar {
          span {
            transform: translateX(0) rotate(.01deg);
          }
        }
      }
    }
  }
}

// Experience

#candidate-exp {
  border-bottom: 1px solid $border-grey;
  padding: $space3 0 $space2;
  h2 {
    font-size: $font5;
    text-align: center;
    margin: 0 0 $space3 0;
    @include for-size(sm) {
      margin-bottom: $space4;
    }
  }
}

// Resume

#candidate-resume {
  padding-bottom: $space-1;
  @include for-size(md) {
    padding-bottom: $space4;
  }
  #resume-header {
    @include for-size(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h2 {
      margin: $space-1 0 $space2 0;
      @include for-size(sm) {
        margin: $space-1 0;
      }
    }
    #market-compensation {
      padding: $space-1 $space1;
      border: 1px solid $blue-dark;
      display: flex;
      align-items: center;
      h6 {
        margin: 0;
      }
      .market-value {
        margin-left: $space-1;
        font-size: $font2;
        font-family: $young;
        color: $blue-dark;
        span {
          font-family: $neuz;
          font-weight: 600;
          color: $border-grey;
        }
      }
    }
  }
  h3 {
    font-family: $young;
    margin: $space2 0 $space2;
    @include for-size(md) {
      margin: $space4 0 $space4;
    }
  }
  #resume-container {
    .res-item {
      margin-bottom: $space1;
      .res-date {
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: $space-3;
        @include for-size(sm) {
          margin-top: $space-6;
        //  display: flex;
        //  width: $space4;
          //background-color: $blue-light;
        //  margin-bottom: 0px;
        }
        span {
          display: inline-block;
          font-size: $font-1;
          text-transform: uppercase;
          text-align: center;
          @include for-size(sm) {
          //  display: block;
          font-size: $font1;
          }
          &.date-divider {
            line-height: .5;
          }
        }
      }
      .res-content {
        border-bottom: 1px solid $border-grey;
        .res-content-header {
          margin-bottom: $space-1;
          .res-title {
            margin-bottom: $space-3;
            @include for-size(sm) {
              margin-bottom: 0px;
            }
          }
        }
        h4 {
          font-size: $font2;
          margin: 0;
          line-height: 1;
          span {
            font-weight: 200;
          }
        }
        .res-tags {
          display: flex;
          justify-content: flex-start;
          @include for-size(sm) {
            justify-content: flex-end;
          }
        }
        .res-details {
          padding-bottom: $space1;
          .res-detail {
            padding-top: $space-5;
            padding-bottom: $space-5;
            background-color: $blue-light;
            padding: $space-2;
            :nth-child(2n+1) {
              font-weight: 600;
              margin-bottom: $space-3;
              @include for-size(sm) {
                margin-bottom: 0;
              }
            }
            &:nth-child(2n + 2) {
              background-color: white;
            }
          }
        }
      }
      &:last-child {
        .res-content {
          border-bottom: 0px;
        }
      }
    }
  }
}

// Looking for

#candidate-looking_for {
  background-color: $blue-light;
  padding: $space2 0 $space-3;
  text-align: center;
  .content {
    #looking-for-content {
      @include for-size(sm) {
        width: 70%;
        margin: 0 auto;
        position: relative;
      }
      h3 {
        font-family: $young;
      }
    }
  }
}

// More Opportunities

.page-template-more-opportunities {
  background-color: $blue-light;
}
.page-template-more-opportunities .site-content {
  position: relative;
  h2 {
    margin: 0 0 $space3;
    font-size: $font5;
    @include for-size(sm) {
      font-size: $font6;
    }
  }
  &::before {
    content: '';
    width: 100%;
    background-color: $blue-light;
    height: 60vh;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: -1;
  }
}

#more-opp-arrows {
  position: sticky;
  bottom: 0;
  right: $space2;
  @include for-size(md) {
    right: $space4;
  }
  display: flex;
  float: right;
  padding-right: $space-3;
  .arrow {
    margin: $space-3;
    cursor: pointer;
    &.prev-arrow {
      img {
        transform: scale(-1, 1);
      }
    }
  }
}
#more-opps-container {
  padding-bottom: $space2;
  #more-opps {
    .slick-slide {
      transition: opacity .3s linear;
      opacity: .5;
      &.slick-current {
        opacity: 1;
      }
    }
    .opp-item {
      @include for-size(md-down) {
        padding: 0;
      }
      .opp-item-image {
        width: 100%;
        height: $space7;
        padding-bottom: 30%;
        position: relative;
        background-color: $blue-mid;
        background-size: 80%;
        @include for-size(md) {
          height: 0;
          background-size: 60%;
        }
        .bench-tag {
          position: absolute;
          top: $space-1;
          right: $space-1;
        }
        .cta-button {
          position: absolute;
          right: $space2;
          bottom: -1em;
        }
      }
      .opp-item-content {
        position: relative;
        margin-top: $space2;
        padding-left: $space-2;
        @include for-size(md-down) {
          padding: 0 $space1;
        }
        @include for-size(lg-down) {
          .col-2 {
            width: 12rem;
          }
        }
        .opp-item-icon-wrapper {
          width: 80%;
          position: relative;
          display: none;
          @include for-size(lg) {
            display: block;
          }
          .opp-item-icon-container {
            width: $space3;
            height: 0;
            padding-bottom: 100%;
            @include for-size(sm) {
              width: 100%;
            }
            .opp-item-icon {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $blue-light;
              img {
                width: 60%;
                height: auto;
              }
            }
          }
        }
        .opp-item-title {
          position: absolute;
          top: -6.5em;
          //left: 1em;
        }
        h3 {
          margin-top: 0;
        }
      }
    }
  }
}





footer {
  h6 {
    color: white;
    text-transform: uppercase;
  }
}

footer#pre-footer {
  background-color: $blue-dark;
  padding: $space3 0 $space3 0;
  #pre-footer-content {
    color: white;
    text-align: center;
    @include for-size(md) {
      width: 50%;
      margin: 0 auto;
    }
    p {
      font-size: $font2;
      line-height: 1.1;
    }
    .cta-button {
      margin-top: $space-1;
    }
  }
}

.caldera-grid {
  .col-sm-12 {
    margin: auto;
  }
}

.home {
  #footer-signup {
    .caldera-grid {
      .row{
        .single {
          //display: block;
          p {
            font-size: $font3;
          }
          @include for-size(md) {
            display: flex;
          }
        }
      }
    }
  }
}

footer#footer-signup {
  padding: $space2 0;
  background-color: $blue-dark;
  @include for-size(sm) {
    padding: $space5 0;
  }
  #footer-form-talent {
    display: none;
  }
  .caldera-grid {
    .alert-success {
      background-color: transparent!important;
      padding: 0!important;
      color: white!important;
      font-size: $font2;
      font-family: $young;
    }
    .row {
      margin: .5em 0 $space-1;
      color: white;
      .single {
        display: flex;
        align-items: center;
        padding: 0;
        flex-wrap: wrap;
      }
      .form-group {
        margin: 0;
      }
      select, .design-job-container {
        font-size: $font1;
        appearance: none;
        background-color: transparent;
        height: auto;
        font-weight: 300;
        padding: 0;
        outline: none;
        border: none;
        text-transform: lowercase;
        margin: 0 .5em;
        @include for-size(sm) {
          font-size: $font3;
        }
        &.product-design {
          margin-left: 0px;
        }
      }
      select {
        color: $blue-mid;
        background-image: url('../images/menu-arrow.svg');
        background-repeat: no-repeat, repeat;
        background-position: right 0em top calc(50% + .1em), 0 0;
        background-size: .3em auto, 100%;
        padding-right: 1em;
        cursor: pointer;
      }
      input[type="text"], input[type="number"], input[type="email"] {
        appearance: none;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        margin: 0 .5em .1em .5em;
        caret-color: white;
        color: white;
        font-size: $font1;
        font-weight: 300;
        width: $space6;
        text-align: center;
        padding: 0;
        height: $space-1;
        top: $space-4;
        .long & {
          width: $space9;
        }
        @include for-size(sm) {
          font-size: $font3;
        }
        &::placeholder {
          color: transparent;
        }
      }
      .form-group {
        position: relative;
      }
      label {
        text-transform: uppercase;
        font-weight: 300;
        position: absolute;
        top: calc(100% + 1em);
        left: 50%;
        transform: translateX(-50%);
        font-size: $font-1;
        color: $blue-mid;
        white-space: nowrap;
      }
    }
    .row:not(.last_row) {
      display: inline-block;
    }
    .last_row .single {
      display: flex;
      flex-wrap: wrap;
      > div:not(.form-header) {
        width: 40%;
        padding-right: 4em;
        margin-bottom: 2em;
        input[type="url"], input[type="text"], input[type="email"] {
          width: 100%;
          appearance: none;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #393e66;
          padding: $space-1;
          height: auto;
          font-size: 1em;
          margin-left: 0;
          text-align: left;
          color: #ffffff;
          padding-left: (.2em);
          &::placeholder {
            color: $blue-mid;
          }
        }
        &:last-of-type {
          width: 100%;
          input {
            width: auto;
          }
        }
        input[type="submit"] {
          text-transform: uppercase;
          border: 1px solid $pink;
          color: $pink;
          font-size: $font-1;
          font-weight: 600;
          padding: .75em 4em .5em;
          border-radius: 0;
          background-color: transparent;
          margin-top: 2em;
        }
      }
    }
    input[type="submt"] {
      text-transform: uppercase;
      border: 1px solid #e49589;
    }
    .form-header {
      width: 100%;
      margin-bottom: 2em;
      p {
        font-size: $font1;
        margin-top: $space3;
      }
    }
    p {
      font-size: $font1;
      margin: 0;
    }
    .candidate-status {
      select {
        width: 80%;
      }
    }

  }
  #form-search-toggle {
    .single {
      flex-wrap: wrap;
      @include for-size(md) {
        display: flex;
      }
    }
  }
}


footer.site-footer {
  background-color: $blue-dark;
  color: $blue-mid;
  .footer-content-container {
    padding: 0 $space2 0;
    font-weight: 200;
    .footer-content {
      border-top: 1px solid #393e66;
      padding: $space1 0 $space2;
      @include for-size(sm) {
        padding: $space3 0 $space2;
        display: flex;
        justify-content: space-between;
      }
    }
    .footer-logo {
      margin-bottom: $space-2;
      @include for-size(sm) {
        margin-bottom: auto;
      }
      a {
        color: white;
        font-weight: 700;
        width: 8em;
        height: auto;
        display: block;
      }
    }
  }
}

.error-404 {
  min-height: calc(100vh - 195px);
  background-color: $blue-light;
  position: relative;
  .page-header {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
