// SVG sign up

#svg-sign-up-form {
  #svg-form-arrow {
    animation-name: svg-form-arrow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  #svg-form-signup-button {
    animation-name: svg-form-button;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: center left;
  }
  .svg-form-line {
    transform: scale(0, 1);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 5% 0;
    animation-name: svg-form-line;
    &#svg-form-line-2 {
      animation-delay: .2s;
    }
    &#svg-form-line-3 {
      animation-delay: .4s;
    }
  }
}

@keyframes svg-form-arrow {
  0% {
    transform: translate(4rem, 2rem);
  }
  20% {
    transform: translate(4rem, 2rem);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(4rem, 2rem);
  }
  100% {
    transform: translate(4rem, 2rem);
  }
}

@keyframes svg-form-button {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  45% {
    transform: scale(.98);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes svg-form-line {
  0% {
    transform: scale(0, 1);
  }
  10% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(0, 1);
  }
}

// SVG Search or wait

#svg-phone-alert {
  .svg-phone-row {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: svg-phone-row;
    &#svg-phone-row-2 {
      animation-delay: .2s;
    }
    &#svg-phone-row-3 {
      animation-delay: .4s;
    }
    &#svg-phone-row-4 {
      animation-delay: .6s;
    }
  }
  #svg-phone-hand {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: svg-phone-hand;
    transform-origin: center;
  }
  #svg-phone-alert-container {
    position: relative;
  }
  #svg-phone-alert {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: svg-phone-alert;
  }
}

@keyframes svg-phone-row {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 0;
    transform: translateY(5%);
  }
}

@keyframes svg-phone-hand {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-2%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes svg-phone-alert {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  50% {
    transform: scale(.9);
    opacity: 0;
  }
  52% {
    transform: scale(1.1);
    opacity: 1;
  }
  54% {
    transform: scale(.9);
  }
  56% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  95% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(.9);
    opacity: 0;
  }
}

// SVG Connect

#svg-interview {
  #svg-convo-1 {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: svg-convo-1;
  }
  #svg-convo-2 {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: svg-convo-2;
  }
  #svg-hired {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: svg-hired;
    transform-origin: left;
  }
}

@keyframes svg-convo-1 {
  0% {
    transform:  translateY(5%);
    opacity: 0;
  }
  20% {
    transform:  translateY(5%);
    opacity: 0;
  }
  22% {
    transform: translateY(-1%);
    opacity: 1;
  }
  24% {
    transform:  translateY(1%);
  }
  26% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(0%);
    opacity: 1;
  }
  95% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(5%);
    opacity: 0;
  }
}

@keyframes svg-convo-2 {
  0% {
    transform:  translateY(-5%);
    opacity: 0;
  }
  40% {
    transform:  translateY(-5%);
    opacity: 0;
  }
  42% {
    transform: translateY(1%);
    opacity: 1;
  }
  44% {
    transform:  translateY(-1%);
  }
  46% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(0%);
    opacity: 1;
  }
  95% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-5%);
    opacity: 0;
  }
}

@keyframes svg-hired {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  60% {
    transform:  scale(.9);
    opacity: 0;
  }
  62% {
    transform:  scale(1.1);
    opacity: 1;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
  95% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// Website or product

#svg-website {
  #website-arrow {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: website-move-arrow;
    transform-origin: left;
  }
  .selected-row {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: svg-choose-row;
    transform-origin: 20% 0%;
    #Indicator {
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-name: svg-highlight-row;
      transform-origin: 20% 0%;
    }
  }
  #selected-data {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: svg-choose-color;
  }
  #Avatar-select {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: svg-change-color;
  }
}

@keyframes website-move-arrow {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-7%, -160px);
  }
  40% {
    transform: translate(-7%, -160px);
  }
  60% {
    transform: translate(36%, -158px);
  }
  75% {
    transform: translate(36%, -158px);
  }
  90% {
    transform: translate(0, 0);
  }
}

@keyframes svg-choose-row {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  32% {
    transform: scale(1.1);
  }
  34% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes svg-highlight-row {
  0% {
    fill: #F2F2F2;
  }
  30% {
    fill: #F2F2F2;
  }
  32% {
    fill: #AFB9C5;
  }
  100% {
    fill: #AFB9C5;
  }
}

@keyframes svg-choose-color {
  0% {
    transform: scale(1);
  }
  64% {
    transform: scale(1);
  }
  66% {
    transform: scale(1.1);
  }
  68% {
    transform: scale(1);
  }
}

@keyframes svg-change-color {
  0% {
    fill: #DDE3E9;
  }
  64% {
    fill: #DDE3E9;
  }
  66% {
    fill: #97D1CD;
  }
  100% {
    fill: #97D1CD;
  }
}
