@import url('//db.onlinewebfonts.com/c/0771b9b020dd76e45aedc8a98267aaa8?family=Neuzeit+Grotesk');

@font-face {font-family: "YoungSerif";
  src: url("//db.onlinewebfonts.com/t/af2adb855bbec3740bbddaf306b497fa.eot");
  src: url("//db.onlinewebfonts.com/t/af2adb855bbec3740bbddaf306b497fa.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/af2adb855bbec3740bbddaf306b497fa.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/af2adb855bbec3740bbddaf306b497fa.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/af2adb855bbec3740bbddaf306b497fa.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/af2adb855bbec3740bbddaf306b497fa.svg#YoungSerif") format("svg");
}

@mixin for-size($range) {
  $sm: 480px;
  $md: 768px;
  $lg: 1024px;
  $xl: 1400px;
  $xxl: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$sm - 1}) { @content; }
  } @else if $range == sm {
    @media (min-width: $sm) { @content; }
  } @else if $range == sm-down {
    @media (max-width: #{$sm - 1}) { @content; }
  } @else if $range == md {
    @media (min-width: $md) { @content; }
  } @else if $range == md-down {
    @media (max-width: #{$md - 1}) { @content; }
  } @else if $range == lg {
    @media (min-width: $lg) { @content; }
  } @else if $range == lg-down {
    @media (max-width: #{$lg - 1}) { @content; }
  } @else if $range == xl {
    @media (min-width: $xl) { @content; }
  } @else if $range == xxl {
    @media (min-width: $xxl) { @content; }
  }
}

$fontMultiplier: 1.2;
// Text Sizes https://www.modularscale.com/?15.59&px&1.414
$font-3: calc(.354rem * #{$fontMultiplier}); //5.5px
$font-2: calc(.5rem * #{$fontMultiplier}); //7.8px
$font-1: calc(.707rem * #{$fontMultiplier}); //11px
$font1: calc(1rem * #{$fontMultiplier}); //15.59px BASE SIZE
$font2: calc(1.37rem * #{$fontMultiplier}); //22px
$font3: calc(1.414rem * #{$fontMultiplier}); //31px
$font4: calc(1.999rem * #{$fontMultiplier}); //44px
$font5: calc(2.827rem * #{$fontMultiplier}); //62.3px
$font6: calc(3.998rem * #{$fontMultiplier}); //88.1px
$font7: calc(5.653rem * #{$fontMultiplier}); //124.6px
$font8: calc(7.993rem * #{$fontMultiplier}); //176.1px
$font9: calc(11.302rem * #{$fontMultiplier});

$youngMultiplier: 1.4;
// Text Sizes https://www.modularscale.com/?15.59&px&1.414
$young-3: calc(.354rem * #{$youngMultiplier}); //5.5px
$young-2: calc(.5rem * #{$youngMultiplier}); //7.8px
$young-1: calc(.707rem * #{$youngMultiplier}); //11px
$young1: calc(1rem * #{$youngMultiplier}); //15.59px BASE SIZE
$young2: calc(1.37rem * #{$youngMultiplier}); //22px
$young3: calc(1.414rem * #{$youngMultiplier}); //31px
$young4: calc(1.999rem * #{$youngMultiplier}); //44px
$young5: calc(2.827rem * #{$youngMultiplier}); //62.3px
$young6: calc(3.998rem * #{$youngMultiplier}); //88.1px
$young7: calc(5.653rem * #{$youngMultiplier}); //124.6px
$young8: calc(7.993rem * #{$youngMultiplier}); //176.1px
$young9: calc(11.302rem * #{$youngMultiplier});

// Space Sizes https://www.modularscale.com/?15.59&px&1.414
$multiple: 1.2;
$space-6: calc(.25rem * #{$multiple}); //3.9px
$space-5: calc(.354rem * #{$multiple}); //5.5px
$space-4: calc(.5rem * #{$multiple}); //7.8px
$space-3: calc(.707rem * #{$multiple}); //11px
$space-2: calc(1rem * #{$multiple}); //15.59px
$space-1: calc(1.414rem * #{$multiple}); //22px
$space1: calc(1.999rem * #{$multiple}); //31px GRID GAP
$space2: calc(2.827rem * #{$multiple}); //44px
$space3: calc(3.998rem * #{$multiple}); //62.3px MEDIUM SPACE
$space4: calc(5.653rem * #{$multiple}); //88.1px
$space5: calc(7.993rem * #{$multiple}); //124.6px LARGE SPACE + HEIGHT OF IMAGE (project landing)
$space6: calc(11.302rem * #{$multiple}); //176.1px
$space7: calc(15.981rem * #{$multiple}); //249.139px HEIGHT OF IMAGE (gallery)
$space8: calc(22.597rem * #{$multiple}); //352.282px
$space9: calc(45.18rem * #{$multiple}); //498.127px

$aqua: #97d1cd;
$black: #01063a;
$blue-dark: #010539;
$blue-mid: #c2e3e1;
$blue-light: #f2f7f7;
$border-grey: #979797;
$pink: #e49589;

$neuz: 'neuzeit-grotesk';
$young: 'YoungSerif';
