@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "variables";
@import "global";
@import "main";
@import "svgs";
$slick-font-path: "/node_modules/slick-carousel/slick/fonts/" !default;
$slick-loader-path: "/node_modules/slick-carousel/slick-carousel/slick/" !default;
$slick-arrow-color: black !default;
@import "~slick-carousel/slick/slick.scss";
